table.xcard, td {
    border: 1px solid gray;
}

td {
  min-width: 15px;
  height: 30px;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}

td.end-total-cell {
  background-color: blue;
  color: white;
}

td.row-total-score, .row-golds-total, .row-hits-total, .row-running-total {
  background-color: green;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
}

td.score-cell.unused {
  background-color: gray;
}

td.title-cell {
  text-align: left;
}

tr.header-row td, tr.totals-row td {
  text-transform: uppercase;
  font-weight: bold;
}
