
table {
  margin: 30px;
  margin-left: 0;
  border-spacing: 0;
  border-collapse: collapse;
  text-transform: uppercase;
}

table.xcard, td {
    border: 2px solid $dark-gray;
}

tbody {
  align: right;
}

tbody::before {
  content: '';
  display: block;
  height: 20px;
}

td {
  min-width: $cell-size;
  height: $cell-size;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}

td.end-total-cell {
  background-color: $light-gray;
  // color: white;
}

td.row-total-score, .row-golds-total, .row-hits-total, .row-x-total, .row-running-total, .row-points-total, .row-running-total-points {
  background-color: $light-gray;
  // color: white;
  padding: 5px 10px;
  font-weight: bold;
}

td.unused {
  @include striper( $dark-gray );
}

td.title-cell {
  text-align: left;
}

tr.header-row td, tr.totals-row td {
  text-transform: uppercase;
  font-weight: bold;
}

tr.totals-row td.totals-spacer {
  border: none;
}
